stages:
  - build
  - test
  - package

variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml -DskipTests"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/

build:
  stage: build
  image: maven:3.8.7-openjdk-17
  script:
    - mvn clean compile
  artifacts:
    paths:
      - target/
    expire_in: 1 hour

test:
  stage: test
  image: maven:3.8.7-openjdk-17
  script:
    - mvn test
  dependencies:
    - build

package:
  stage: package
  image: maven:3.8.7-openjdk-17
  script:
    - mvn clean package -DskipTests
  artifacts:
    paths:
      - target/device-inventory-cli-*.jar
      - target/device-inventory-cli-*-jar-with-dependencies.jar
    expire_in: 30 days
  only:
    - main
    - tags
